.edit {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.editor {
  height: 100%;
  overflow: hidden;
}

.nav {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;
}

.nav button {
  width: fit-content;
  padding: 4px 8px;
  margin-bottom: 0;
}
